body {
  font-family: Arial, sans-serif;
  margin: 40px;
  line-height: 1.6;
}

header {
  text-align: right;
}

.sender{
  font-style: italic;
}

.date {
  margin-top: -10px;
}

.recipient {
  font-style: italic;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
  margin-top: 20px;
}

h3 {
  font-size: 16px;
  margin-top: 15px;
}

ul, ol {
  margin-left: 20px;
}

footer {
  margin-top: 40px;
  font-style: italic;
}

.broken-ul {
  text-decoration: underline; 
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-style: dotted;
}
a {
  text-decoration: underline;
}


